$color_1: white;
$color_2: #00bbff;
$color_3: black;
$font-family_1: 'AkkuratLL', sans-serif;
$background-color_1: #131313;
$background-color_2: #202020;
$background-color_3: transparent;
$background-color_4: #2a2a2a;
$background-color_5: white;

/***********************/
/**********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.App {
  background-color: $background-color_1;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  row-gap: 0.2rem;
  font-family: $font-family_1;
  font-weight: 400;
  font-style: normal;
  flex-direction: column;
}

.block {
  width: 90%;
  height: 90%;
  background-color: $background-color_2;
  border-radius: 1rem;
  border: 1.5px solid #363636;
  margin-bottom: 3rem;
  position: relative;
}

.container {
  width: 95%;
  padding: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  flex-direction: column;
}

.search {
  width: 100%;
  display: flex;
  column-gap: 2rem;

  &__input {
    width: 100%;
    height: 3vw;
    background-color: $background-color_1;
    border: 0;
    color: $color_1;
    font-size: 14pt;
    padding-left: 15px;

    &::placeholder {
      font-size: 12pt;
    }

    &:focus {
      font-size: 12pt;
    }
  }

  &__icon {
    background-color: $background-color_3;
    cursor: pointer;
    border: none;
    width: 30px;
  }
}

::-webkit-scrollbar {
  scroll-padding: 20px;
  width: 30px;

  &-track {
    border-radius: 2rem;
    border: 1.5px solid #5b5b5b;
  }

  &-thumb {
    background: white;
    border-radius: 2rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: auto;
  height: 100%;
  padding-right: 2rem;
  width: 100%;

  &-item {
    position: relative;
    color: $color_1;
    background-color: $background-color_4;
    border: 1.5px solid #3a3a3a;
    //border-radius: 0.7rem;
    min-height: 150px;
    padding: 15px;
    overflow: hidden;
    transition: all 0.3s ease;

    &__meta {
      display: flex;
      font-size: 10pt;

      > * + *::before {
        content: " | "; /* устанавливаем вертикальную линию между элементами */
        margin: 0 5px; /* добавляем отступы справа и слева от линии */
      }
    }

    &__content {
      display: grid;
      grid-template-columns: 2fr 0.5fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas:
              "a c"
              "b c";
    }

    &__source {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }

    &__icon {
      width: 1em;
      height: 1em;
      margin-bottom: 2.5px;
    }

    &__website {
    }

    &__title {
      font-family: $font-family_1;
      font-weight: 800;
      font-style: normal;
      font-size: 1.5vw;
      margin: 5px 0;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      grid-area: a;
    }

    &__paragraph {
      font-family: $font-family_1;
      font-weight: 400;
      font-style: italic;
      font-size: 1.2vw;
      line-height: 1.2vw;
      color: #838383;
      grid-area: b;
    }

    &__image {
      width: 70%;
      height: auto;
      margin-left: auto;
      margin-right: 0;
      grid-area: c;
    }

    &:hover {
      border: 1.5px solid #00bbff;
      transition: all 0.3s ease;
      cursor: pointer;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 70%;
      width: 100%;
      background: linear-gradient(rgb(255 255 255 / 0%), #2a2a2a);
    }
  }
}

.pagination {
  display: flex;
  margin: 0 auto;
  column-gap: 20px;

  > * {
    background-color: $background-color_3;
    border-radius: 50%;
    width: 2.5vw;
    height: 2.5vw;
    border: 1.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color_1;
    cursor: pointer;
  }
}

.fa-2x {
  font-size: 1.5em;
  transition: all 0.3s ease;

  &:hover {
    color: $color_2;
    transition: all 0.3s ease;
  }
}

.nav__logo {
  width: auto;
  height: 5vh;
}

.nav {
  width: 100%;
  background-color: $background-color_1;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 66px 68px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 66px 68px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 66px 68px rgba(0, 0, 0, 0.75);

  &-content {
    display: flex;
    width: 90%;
    height: 8vh;
    justify-content: space-between;
    align-items: center;

    > * {
      z-index: 1;
      color: $color_1;
      cursor: pointer;
    }
  }

  &-list {
    color: $color_1;
    font-size: 3vh;
    font-weight: 600;
    display: flex;
    gap: 2rem;

    &__option {
      transition: all 0.3s ease;

      &:hover {
        color: $color_2;
        transition: all 0.3s ease;
      }
    }
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  row-gap: 1vw;

  &__title {
    font-size: 2vw;
    color: $color_1;
  }

  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;

    label {
      display: inline-block;
      white-space: nowrap;

      span {
        vertical-align: middle;
        margin-left: 1vh;
        color: $color_1;
        transition: all 0.3s ease;

        &:hover {
          color: $color_2;
          transition: all 0.3s ease;
        }
      }
    }

    input {
      vertical-align: middle;
      position: relative;
      top: -1.5px;
    }
  }

  &-item {
    display: flex;
  }

  &__input {

    &[type=checkbox]{
      accent-color:  $color_2;
    }
    //flex-grow: 1;
    //display: table-cell;
    //width: 100%;
    //height: 3vw;
    //background-color: $background-color_1;
    //border: 0;
    //color: $color_1;
    //font-size: 14pt;
    //padding-left: 15px;
  }

  &__options {
    width: 50%;
    display: flex;
    column-gap: 1rem;

    > * {
      cursor: pointer;
      width: 50%;
      height: 3vw;
      background-color: transparent;
      border: 1.5px solid white;
      border-radius: 2rem;
      color: $color_1;
      font-size: 1vw;
      text-transform: uppercase;
      font-weight: 600;
      transition: all 0.3s ease;

      &:hover {
        background-color: $background-color_5;
        color: $color_3;
        transition: all 0.3s ease;
      }
    }
  }
}
